<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <a href="index.html"><img src="image/logo.png" alt="Logo" width="50" height="50"></a>
            </div>
            <nav>
                <a href="index.html">Trang chủ</a>
                <a href="#">Sản phẩm</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Tư Vấn</a>
                <a href="#">Liên hệ</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm...">
                <button><i class="fas fa-search"></i> Tìm</button>
            </div>

            <div class="user-cart">
                <a href="dangky.html" class="signup">Đăng ký</a>
                <a href="#" class="login">Đăng nhập</a>
                <a href="#" class="cart">
                    <i class="fas fa-shopping-cart"></i> Giỏ hàng
                </a>
            </div>
        </div>
    </header>
    <section class="cart">
        <div class="container">
            <div class="cart-top-warp">
                <div class="cart-top">
                    <div class="cart-top-cart">
                        <i></i>
                    </div>
                    <div class="cart-top-cart">
                        <i></i>
                    </div>
                    <div class="cart-top-cart">
                        <i></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="cart-content row">
                <div class="cart-content-left">
                    <table>
                        <tr>
                            <th>Sản phẩm</th>
                            <th>Tên sản phẩm</th>
                            <th>Số lượng</th>
                            <th>Thành tiền</th>
                            <th>Xoá</th>
                        </tr>
                        <tr>
                            <td><img src="image/sp1.png" alt=""></td>
                            <td><p>DAO NHẬT BUNKA</p></td>
                            <td><input type="number" value="1" min="1"></td>
                            <td><p>2.500.000 <sup>đ</sup></p></td>
                            <td><span>X</span></td>
                        </tr>
                        <tr>
                            <td><img src="image/sp2.png" alt=""></td>
                            <td><p>DAO NHẬT BUNKA</p></td>
                            <td><input type="number" value="1" min="1"></td>
                            <td><p>2.500.000 <sup>đ</sup></p></td>
                            <td><span>X</span></td>
                        </tr>
                    </table>
                </div>
                <div class="cart-content-right">
                    <table>
                        <tr>
                            <th colspan="2">TỔNG TIỀN GIỎ HÀNG</th>
                        </tr>
                        <tr>
                            <td>TỔNG SẢN PHẨM</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>TỔNG TIỀN HÀNG</td>
                            <td><p>2.500.000 <sup>đ</sup></p></td>
                        </tr>
                        <tr>
                            <td>Tổng:</td>
                            <td><p style="color: black; font-weight: bold;"> 2.500.000 <sup>đ</sup></p></td>
                        </tr>
                    </table>
                    <div class="cart-content-right-text">
                        <p>Bạn sẽ được miễn phí ship đơn hàng của bạn có tổng giá trị trên 3.000.000 đ</p>
                        <p style="color: red; font-weight: bold;">mua thêm <span style="font-size: 18px;">500.000đ</span> để được miễn phí SHIP</p>
                    </div>
                    <div class="cart-content-right-button">
                        <button>Tiếp tục mua sắm</button>
                        <button>Thanh Toán</button>
                    </div>
                    <div class="cart-content-right-dangnhap">
                        <p>Tài Khoản</p>
                        <p>Vui lòng <a href="">Đăng nhập</a> tài khoản của bạn để thanh toán</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <section class="footer">
        <div class="footer-container">
            <p>Nhận Tư Vấn</p>
            <div class="input-email">
                <input type="text" placeholder="Nhập Email của bạn...">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div>
                <li><a href=""><img src="image/logo.png" alt="" width="50" height="50"></a></li>
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Tư Vấn</a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-youtube"></i></a></li>
            </div>
            <div class="footer-text">
                Stim Store tự hào là thương hiệu chuyên cung cấp các loại dao Nhật Bản cao cấp <br>
            Mang lại chất lượng vượt trội và độ bền bỉ, đúng chuẩn tinh hoa ẩm thực Nhật Bản. Được kiểm duyệt và trải nghiệm bởi đầu bếp nổi tiếng Hoshi Đào. <br>
            FPT Polytechnic, đường Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm, Hà Nội. <br>
            Hotline: 0345981925
            </div>
            <div>
                Copyright © 2024 Stim Store.
            </div>
        </div>
    </section>

    <script src="js/script.js"></script>
    <script src="js/slide.js"></script>

</body>
</html>