<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stim Store</title>
    <link rel="stylesheet" href="css/mainstyle.css">
    <link rel="stylesheet" href="css/products.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="header-container">
            <div class="logo">
                <a href="index.html"><img src="image/logo.png" alt="Logo" width="50" height="50"></a>
            </div>
            <nav>
                <a href="index.html">Trang chủ</a>
                <a href="product.html">Sản phẩm</a>
                <a href="#">Giới thiệu</a>
                <a href="#">Tư Vấn</a>
                <a href="#">Liên hệ</a>
            </nav>
            <div class="search-bar">
                <input type="text" placeholder="Tìm kiếm...">
                <button><i class="fas fa-search"></i> Tìm</button>
            </div>

            <div class="user-cart">
                <a href="dangnhap.html" class="login">Đăng nhập</a>
                <a href="dangky.html" class="signup">Đăng ký</a>
                <a href="cart.html" class="cart">
                    <i class="fas fa-shopping-cart"></i> Giỏ hàng
                </a>
            </div>
        </div>
    </header>


<div class="product-page">

    <div class="top-row">
        <div class="product-sidebar">
                <h3>Danh mục sản phẩm</h3>
            <ul>
                <li><a href="#">Dao Cắt Thái</a></li>
                <li><a href="#">Dao Phi Lê</a></li>
                <li><a href="#">Dao Sushi</a></li>
                <li><a href="#">Dao Chặt Xương</a></li>
                <li><a href="#">Dao Bếp</a></li>
            </ul>
            <br>
            <h3>Lọc Giá</h3>
            <ul>
                <li><a href="">Dưới 1.000.000₫</a></li>
                <li><a href="">1.000.000₫ - 2.000.000₫</a></li>
                <li><a href="">2.000.000₫ - 3.000.000₫</a></li>
                <li><a href="">3.000.000₫ - 4.000.000₫</a></li>
                <li><a href="">Trên 4.000.000₫</a></li>
            </ul>
        </div>
        
        <div class="product-banner">
            <img src="image/banner3.webp" alt="Banner sản phẩm">
        </div>
    </div>
</div>

<section class="main-product">  
<div class="highlighted-products">
    <h2>DAO NHẬT</h2>
    <div class="product-list">
        <div class="product">
            <img src="image/dao santoku.webp" alt="Sản phẩm 1" width="200" height="200">
            <h3>Dao Santoku</h3>
            <p>1,200,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao gyuto.jpg" alt="Sản phẩm 2" width="200" height="200">
            <h3>Dao Gyuto</h3>
            <p>1,500,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao nakiri.jpg" alt="Sản phẩm 3" width="200" height="200">
            <h3>Dao Nakiri</h3>
            <p>1,800,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao yanagiba.webp" alt="Sản phẩm 4" width="200" height="200">
            <h3>Dao Yanagiba</h3>
            <p>2,000,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao deba.png" alt="Sản phẩm 5" width="200" height="200">
            <h3>Dao Deba</h3>
            <p>1,400,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao usuba.jpg" alt="Sản phẩm 6" width="200" height="200">
            <h3>Dao Usuba</h3>
            <p>1,600,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao paring.webp" alt="Sản phẩm 7" width="200" height="200">
            <h3>Dao Paring</h3>
            <p>800,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>
        
        <div class="product">
            <img src="image/dao dai.png" alt="Sản phẩm 8" width="200" height="200">
            <h3>Dao Chiffon</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product1.png" alt="Sản phẩm 9" width="200" height="200">
            <h3>Dao Nhật BUNKA</h3>
            <p>2,500,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product2.png" alt="Sản phẩm 10" width="200" height="200">
            <h3>Dao Nhật DEBA - 15cm</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product3.webp" alt="Sản phẩm 11" width="200" height="200">
            <h3>Dao Nhật DEBA - 17cm</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product4.webp" alt="Sản phẩm 12" width="200" height="200">
            <h3>Dao Nhật GYUTO TAKAYUKI</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product5.webp" alt="Sản phẩm 13" width="200" height="200">
            <h3>Dao Nhật KAI NAKIRI SEKI</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product6.webp" alt="Sản phẩm 14" width="200" height="200">
            <h3>Dao Nhật KENGATA GYUTO</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product7.webp" alt="Sản phẩm 15" width="200" height="200">
            <h3>Dao Nhật KIRITSUKE GYUTO</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

        <div class="product">
            <img src="image/product8.jpg" alt="Sản phẩm 16" width="200" height="200">
            <h3>Dao Nhật NAKIRI Bạc 3 KUROTORI</h3>
            <p>1,300,000₫</p>
            <a href="cart.html"><button>Thêm vào giỏ hàng</button></a>
        </div>

    </div>
        <button id="load-more" onclick="loadMoreProducts()">Xem thêm</button>
</div>
</section>   


    
    <section class="footer">
        <div class="footer-container">
            <p>Nhận Tư Vấn</p>
            <div class="input-email">
                <input type="text" placeholder="Nhập Email của bạn...">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div>
                <li><a href=""><img src="image/logo.png" alt="" width="50" height="50"></a></li>
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Giới thiệu</a></li>
                <li><a href="">Tư Vấn</a></li>
                <li><a href=""><i class="fab fa-facebook-f"></i></a><a href=""><i class="fab fa-youtube"></i></a></li>
            </div>
            <div class="footer-text">
                Stim Store tự hào là thương hiệu chuyên cung cấp các loại dao Nhật Bản cao cấp <br>
            Mang lại chất lượng vượt trội và độ bền bỉ, đúng chuẩn tinh hoa ẩm thực Nhật Bản. Được kiểm duyệt và trải nghiệm bởi đầu bếp nổi tiếng Hoshi Đào. <br>
            FPT Polytechnic, đường Trịnh Văn Bô, phường Phương Canh, quận Nam Từ Liêm, Hà Nội. <br>
            Hotline: 0345981925
            </div>
            <div>
                Copyright © 2024 Stim Store.
            </div>
        </div>
    </section>


    <script src="js/product.js"></script>


</body>
</html>

